.punto {
    width: 10px;
    border-radius: 50%;
    height: 10px;
}

.color-verde {
    background-color: green;

}

.color-amarillo {
    background-color: yellow;

}

.color-azul {
    background-color: blue;

}