.fc {
  height: fit-content !important;
}

.fc-view-harness,
.fc-view-harness-active {
  height: 391px !important;
}

.fc-day,
.fc-day-past,
.fc-day-other {
  min-height: 20px !important;
  height: 20px !important;
}
