main {
    padding-top: 100px
}

#contenedor {
    width: 70%;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 1em 2em;
    display: flex;
    gap: 3em;
}

#contenedor #titulo{
   display: flex; 
   justify-content: space-between;
   width: 100%;
}

#contenedor #titulo b{
    font-size: 1.5em;
}

#carga-licencia {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#carga-licencia div:first-child{
    display: flex;
    text-align: left;
    justify-content: space-around;
}

#fecha-licencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.calendario-widget {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
}

.calendario-widget span:first-child {
background-color: rgb(218, 60, 60);
color: white;
}

#grupo-botones-licencia{
    display: block;
}

#fecha-licencia .calendario-widget span {
    padding: 1em 0.5em;
}

#responsable-licencia {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
}

#responsable-licencia>p{
    color: gray;
    align-self: flex-start;
}

#contenedor-usuario {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

#contenedor-usuario p{
    display: inline-block;
    color: orange;
}

#boton-licencia{
    align-self: flex-end;
}

aside{
    width: 30%;
}
