.login-center-page {
  background-image: url("../../assets/img/fondo1.jpg");
  background-size: cover;
  height: 100vh;
}
.login-logo2 {
  height: 80px;
  margin-top: 2em;
}
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
