  .contenedor-icono {
    background-color: #0072ab;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #icono-carga {
    width: 5em;
    margin: 1em;
    animation: rotar 1.5s ease-out infinite alternate;
  }
  
  #titulo {
    height: 1.1em;
  }
  
  @keyframes rotar {
    100% {
      transform: rotateY(180deg) scale(1.15);
    }
  }
  