.profile-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.form-user input {
  width: 200px;
}

.form-user {
  width: 95%;
  border: 1px solid #79797983;
  min-height: 85vh;
  max-width: 900px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  /* justify-content: center;
  align-items: center; */
}

.input-section {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.input-column-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-column-container img {
  width: 170px;
}

/* .UserPageErrors{
  background-color: rgb(255, 106, 106);
  border: 2px solid rgba(139, 0, 0, 0.514);
  border-radius: 10px;
} 

.UserPageErrors p{
  padding-bottom: 1em;
}

.UserPageErrors p:first-of-type{
  padding-top: 2em;
}

.UserPageErrors p:last-of-type{
padding-bottom: 2em;
} */

.profile-page .error {
  color: darkred;
  font-size: 0.8em;
  margin-top: -1.8em;
  text-align: left;
}

