@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-flexListItem {
  /* saca el width para que pueda ser responsive usando grid
    y el height para que se adapte al contenido (y no sea un rectangulo todo duro)
    width: 25vw;
    height: 68vh;
    */

  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.l-flexItem {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 4vh;
  border-bottom: 1px solid gray;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.l-titulo {
  display: flex;
  width: 100%;
  justify-content: start;
  font-size: 12px;
  color: gray;
  padding: 5px 10px;
}

